image_name=""	#Only lowercase and numbers are allowed
mysql_root_password=""
mysql_app_password=""
oauth_client_name=""
oauth_client_pass=""
mandrill_api_key=""
app_name=""
parse_appid=""
parse_masterkey=""
parse_apikey=""
languages="'en','es'"
environment="Development"
hipchat_room="123123"